vti_encoding:SR|utf8-nl
vti_author:SR|CARROLL_NT\\rsadi
vti_timelastmodified:TR|20 Nov 2010 15:10:43 -0000
vti_timecreated:TR|18 Nov 2010 01:52:01 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{B5AC75F4-DF6F-409B-BA7A-CE976BD9ED19}
vti_backlinkinfo:VX|
vti_modifiedby:SR|CARROLL_NT\\rsadi
vti_nexttolasttimemodified:TW|20 Nov 2010 14:28:53 -0000
vti_cacheddtm:TX|20 Nov 2010 14:28:53 -0000
vti_filesize:IR|5888
